OPENAI_API_KEY=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
RELEVANCEAI_API_KEY=sk-NmNlMzA1ZjUtZWRkYy00MzVmLWFiYzAtMjk5ODdmNTg3NTAx
RELEVANCEAI_PROJECT=bac27f8f6347-47c5-aed6-7800db3809e1
RELEVANCEAI_REGION=bcbe5a
DATA_API_KEY=
CRM_API_KEY=
CRM_URL=
